li {
     list-style-type:none;
}
tr{
    border:1px solid rgb(0, 0, 0);
    height:30px;
}
th{
    border:0px solid rgb(0, 0, 0);
}
td{
     border:0px solid rgb(0, 0, 0);
}
.Pansonel_leftDiv {
    width:25%;
    height:100%;
    float:left;
    border:0px solid red;
}
.Pansonel_leftDiv_fatherDiv {
    width:55.5%;
    height:99.8%;
    float:left;
    background-color:#4f7dbd;
    border-top:1px solid #f0f1f2;
    border-bottom:1px solid #f0f1f2;
}
.Pansonel_leftDiv_fatherDiv_buttonDiv{
    cursor:pointer;
    width:100%;
    height:40px;
    line-height:40px;
    color:#cacaca;
    margin-top:20px;
    border:0px solid red;
}
.Pansonel_leftDiv_fatherDiv_buttonDiv:hover{
    color:#ffffff;
}
.Pansonel_leftDiv_fatherDiv_buttonDiv_imgDiv{
width:32px;
height:100%;
float:left;
left:25%;
margin-left:-16px;
position:relative;
}
.Pansonel_leftDiv_fatherDiv_buttonDiv_img{
width:25px;
height:25px;
margin-top:5px;
position:absolute;
border:0px solid red;
}
.Pansonel_leftDiv_sonDiv{
    width:44%;
    height:100%;
    float:right;
    background-color:#ffffff;
    border:0px solid red;
}
.Pansonel_leftDiv_sonDiv_ul{
width:100%; border:0px solid red;
}
.Pansonel_leftDiv_sonDiv_li {
    max-height:20px;
    cursor:pointer; 
    list-style-type:none;
    margin-top:20px; 
    border:0px solid red;

}
.Pansonel_leftDiv_sonDiv_li:hover {
    background-color:rgba(95, 184, 120, 0.27);
}
.Pansonel_leftDiv_sonDiv_li_div{
    cursor:pointer;
    color:#808080;
    font-size:10pt;
    margin-top:10px;
    width:150px;
    border:0px solid red;
}
.Pansonel_leftDiv_sonDiv_li_div:hover{
    font-size:12pt;
    transition:font-size 0.5s;
}
.Pansonel_leftDiv_sonDiv_div {
float:left;
margin-left:5%;
margin-top:6px;
border-style:solid;
border-width:6px;
border-color:transparent transparent transparent #808080;
}
.Pansonel_rightDiv {
    width:74%;
    height:100%;
     float:right;
    border:0px solid red;
    position:relative;
}
.Pansonel_rightDiv_leftTop {
   background-color:#ffffff;
   width:48%;
   height:250px; 
   margin:10px;
   margin-top:30px;
   float:left;
}
.Pansonel_rightDiv_leftTop_photo {
    margin-top: 25px;
    border: 0px solid red;
    border-radius:50px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 50%;
    margin-left:-50px;
}

.Pansonel_rightDiv_leftBottom {
   background-color:#ffffff;
   width:48%;
   height:380px; 
   margin:10px;
   float:left;
   cursor:pointer;
}

.Pansonel_rightDiv_rightTop {
   background-color:#ffffff;
   width:45%;
   height:250px; 
   margin:10px;
    margin-top:30px;
   float:left;
}
.Pansonel_rightDiv_rightTop>div{width:99.8%;height:49.8%;border:0.3px solid rgba(179, 179, 179, 0.50);}
.Pansonel_rightDiv_rightTop>div:hover{border:0.5px solid rgba(10, 144, 254, 0.50);}
.rightTop-Title{width:100%;height:20%;padding-left:10px;padding-top:10px;text-align:left;font-size:15pt;}
.rightTop-Title>div{margin-right:10px; width:5px;height:100%;background-color:#4f7dbd;float:left;}
.rightTop-Content{width:100%;height:80%;padding-top:10%;}
.rightTop-Content>div{padding-left:5px; text-align:left;}
.full{font-size:25pt;color:#ff7000;}
.double{font-size:15pt;color:#ff7000;margin-right:5px;}
#GiftBagFull{color:#999999;}
#GiftBagdouble{color:#999999;}
#balanceHint{padding-top:20px; margin-left:40%;color:red;font-size:10pt;float:left;text-align:right;}

.Pansonel_rightDiv_rightBottom {
   background-color:#ffffff;
   width:45%;
   height:380px; 
   margin:10px;
   float:left;
   cursor:pointer;
}

