.ShowHeadBack{
    margin-top:50px;
    height:150px;
    width:100%;
    border:0px solid #ff0000;
    text-align:left;
}
.MyHeads{
    width:150px;
    height:150px;
    /*border:1px solid #ff0000;*/
    margin-left:100px;
    background-color:#ffffff;
    border-radius:75px;
}
.adDiv{
    margin-top:40px;
    height:200px;
    width:100%;
    border:1px solid #ff0000;
}
.DivClothMax{
    position:absolute;
    top:0;
    left:0;
    display:none;
    background-color:#000000;
    opacity:0.3;
    z-index:100;
}
.DivClothMax_setHeadBack{
    display:none;
    text-align:left;
    position:absolute;
    height:370px;
    width:700px;
    background-color:#ffffff;
    z-index:101;
}
.selImage{
    color:#ffffff;
    margin-left:20px;
    margin-top:20px;
    width:100px;
    height:30px;
    background-color:coral;
    border:0px;
}
.pTitle{
    margin-left:20px;
    color:#c6c6c6;
    font-size:10pt;
}
.divSetHead{
    border-bottom:1px solid #c6c6c6;
    height:230px;
    width:100%;
}
.divSetHeadBottom{
    text-align:right;
}
.btnSaveCancel{
    margin-top:10px;
    height:25px;
    width:60px;
    border:0;
    color:#ffffff;
    background-color:coral;
}
#btnSave{
    margin-right:20px;
}
#btnCancel{
    background-color:#808080;
}
#setHead200{
    float:left;
    margin-left:20px;
    height:200px;
    width:200px;
    border:1px solid #ff0000;
}
#setHead150{
    float:left;
    margin-left:20px;
    height:150px;
    width:150px;
    border:1px solid #ff0000;
    background-size:100%;
}
#setHead75{
    float:left;
    margin-left:20px;
    height:75px;
    width:75px;
    border:1px solid #ff0000;
}
#setHead50{
     float:left;
    margin-left:20px;
    height:50px;
    width:50px;
    border:1px solid #ff0000;
}
