.PublicDIV{
    width:1024px;
    left:50%;
    min-height:768px;
    margin-left:-512px;
    margin-top:30px;
    margin-bottom:20px;
    border:0px solid #000000;
    position:relative;
}
.PublicDIV_left{
    height:100%;
    width:73%;
    min-height:768px;
    border:1px solid #000000;
    float:left;
    margin-bottom:20px;
}
.PublicDIV_right{
    height:100%;
    width:25%;
    min-height:768px;
    border:1px solid #000000;
    float:right;
    margin-bottom:20px;
    text-align:left;
}
.PublicDIV_NewsNav{
    width:100%;
    height:45%;
    border:0px solid #ff0000;
    text-align:left;
}